body {
  background-color: silver;
}

.container {
  margin: 5%;
  border-radius: 30px 30px 30px 30px;
  max-width: 90%;
  max-height: 100%;
  box-shadow: 0 0 15px 2px;
  padding: 40px;
  background-color: white;
}

.navbar, .WeatherDashFooter {
  color: white; 
  background-color: rgb(30, 30, 97);
  text-align: center; 
  padding: 30px;
  box-shadow: 0 0 15px 2px black;
  border-radius: 30px 30px 30px 30px;
  font-family: 'Open Sans', sans-serif;
  margin: 1%;
}
  
.footerli {
  color: white;
  font-size: 15px;
}

.location, .MyLocation {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 15px;
  background-color: #c7c7c7;
  display: block;
  transition: 1s;
  border: 1px solid black;
  width: 180px
}

.location:hover, .MyLocation:hover {
  border-color: rgb(121, 121, 121);
  background-color: #e2e2e2;
}

.FutureForcast {
  width: 150px;
  height: 100%;
  display: block;
  margin: 10px;
  color: white;
  background-color: #2654d1;
  padding: 10px;
  transition-duration: 1s;
  border-radius: 10px 10px 10px 10px;
}

.FutureForcast:hover {
  background-color: #3c66dbcc;
}

.button {
  transition-duration: 1s;
  border-radius: 10px 10px 10px 10px;
  height: 40px;

}

#SearchLocationbtn {
  background-color: white; 
  border: 2px solid darkred;
}

#SearchLocationbtn:hover {
  background-color: darkred;
  color: white;
}

#AddLocationbtn, #RemoveLocationbtn {
  margin: 0 auto;
  display: block;
}

#AddLocationbtn {
  color: white;
  background-color: rgb(30, 30, 97);
}

#AddLocationbtn:hover {
  color: black;
  background-color: rgba(81, 81, 255, 0.5);
}

#RemoveLocationbtn {
  color: white;
  background-color: darkred;
}

#RemoveLocationbtn:hover {
  color: black;
  background-color: rgba(255, 0, 0, 0.5);
}

#SearchLocationInput {
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  margin-right: 10px;
}

.greenUV, .yellowUV, .orangeUV, .redUV, .purpleUV {
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
}

a.greenUV, a.redUV, a.purpleUV {
  color: white;
}

a.yellowUV, a.orangeUV {
  color: black;
}

.greenUV {
  background-color: green;
}

.yellowUV {
  background-color: yellow;
}

.orangeUV {
  background-color: orange;
}

.redUV {
  background-color: red;
}

.purpleUV {
  background-color: purple;
}

.autocomplete-suggestions { 
  border: 1px solid #999; 
  background: #FFF; 
  overflow: auto; 
}

.autocomplete-suggestion { 
  padding: 2px 5px; 
  white-space: nowrap; 
  overflow: hidden; 
}

.autocomplete-selected { 
  background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
  font-weight: normal; 
  color: #3399FF; 
}

.autocomplete-group { 
  padding: 2px 5px; 
}

.autocomplete-group strong { 
  display: block; 
  border-bottom: 1px solid #000; 
}

#errormsg {
  color: darkred;
  font-weight: bold;
  font-size: 20px;
}